@import "tailwindcss";
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4f4f5;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
